body {
  font-family:'Roboto';
  height: 100%;
  width: 300px;
  margin: 15px auto 0;
  background:#FFF;
  padding: 0 10px 10px 10px;
}

.container {
  display: block;
}

.header {
  text-align: center;
}

.header > span {
  color: #FFAD61;
  font-weight: 400;
  font-size: 20px;
}

.header > img {
  vertical-align: text-bottom;
}

.content {
  padding: 10px 0px;
}

.date {
  text-align: center;
}

.row {
  padding: 10px;
  font-size: 18px;
}

td > img {
  vertical-align: text-bottom;
  width: 20px;
}

td.price {
  text-align: right;
  font-weight: 600;
}

td.change {
  text-align: left;
  font-weight: 700;
  padding-left: 20px;
}

.plus {
  color: green;
}

.minus {
  color: red;
}
